* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: #181d1d;
}

ul {
    list-style: none;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'Istok Web', sans-serif;
    text-align: center;
    letter-spacing: .1rem;
}

.banner {
    /* background: rgb(213, 252, 255); */
    background-color: #425657;
    color: #fff;
    height: 7em;
    padding-left: 1em;
    display: flex;
    justify-content: left;
    align-items: center;
}

.banner-img {
   height: 6em;
   margin-top: 1em;
   bottom: 22em;
}

.wrapper {
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.main {
    /* finns det någon snyggare lösning på nedan? */
    margin-top: -46em;
    grid-column: 3 / -1;
}

.navigation {
    /* a width is needed, otherwise the navigation covers the links of #welcome so that they don't work */
    width: 310px;
    position: sticky;
    position: -webkit-sticky;
    top: 3em;
    padding-left: 1em;
    margin-bottom: 24em;
}

.navigation li {
    padding: .8em;
}

/* links */

a {
    color: #181d1d;
    font-weight: bold;
    text-decoration: underline dotted #6c63ff 2.5px;
}

.navigation li>a:hover,
.navigation li>a:active,
/*varför funkar inte focus i firefox?*/
.navigation li>a:focus,
.main a:hover {
    text-decoration: none;
    color: #6c63ff;
}

/* footer */

.footer {
    background-color: #425657;
    color: white;
    /* height: 20em; */
    padding: 1em 2em;
}

.footer h3 {
    text-align: left;
}

.footer p {
    font-size: .9rem;
}

.footer i {
    font-size: 1.5rem;
    margin-right: .5em;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-container section {
    margin: 0;
    width: 45%;
}

.footer-copyright {
    text-align: center;
    margin-top: 3em;
}

/* #links p,
#links li {
    text-align: center;
} */

#links li {
    margin-bottom: 1em;
}

section {
    margin: 5em 0;
}

table {
    border: 1px solid #425657;
    width: 100%;
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0;
}

td {
    border: 1px solid #425657;
}

tr:nth-of-type(odd) {
    background-color: #eee;
}

th {
    background-color: #425657;
    color: #eee;
    font-weight: bold;
    text-align: left;
}

td,
th {
    padding: .5em;
    border: 1px solid #ccc;
}